<li>
  <article class="snippet">
    <img src="{{post.data.image}}">
<h3 class="snippet__title">{{post.data.title}}</h3>
<p class="snippet_meta">by <span>{{post.data.author}}</span><span>{{post.date | postDate }}</span></p>
<p class="snippet_body">by <span>{{post.data.description}}</span></p>
<a href="{{post.url}}" class="btn btn--primary">continue reading</a>
  </article>
</li>